# JS
*.log
**/node_modules

# Runtime files mounted by docker-compose
.env
.env.*
audio.wav
webcam.y4m
app/audio.wav
app/webcam.y4m
screenshots
screenshots/**
reports
reports/**
debug
debug/**
lib/*.js-bak*

# System-specific files
.DS_Store
**/.DS_Store

# Docker
docker-compose.*
env.d

# Docs
docs
*.md
*.log

# Development/test cache & configurations
.cache
.circleci
.git
.vscode
.idea
.mypy_cache
